/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

p li {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header {
  background-color: teal;
  height: 7em;
  padding: 2em;
}

footer {
  background-color: teal;
  height: 2em;
  padding: 2em;
}

footer p {
  margin: -10px;
  font-size: 15px;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
  margin: -10px;
}

/* main content */

main {
  padding: 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 15px;
}

main p, main li {
  line-height: 1.8em;
}

img {
  float: right;
  margin: -3em 3em;
}