/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 12px;
}

body {
  width: 55em;
  max-width: 960px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

p li {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  background: teal;
  margin-bottom: 10px;
  /* height: 10em; */
  padding: 1em;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

img {
  float: right;
  margin: 1em 2em;
  width: 250px;
}