body {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}
li{
  cursor: pointer;
}
li:hover{
  font-weight: bold;
}
.nav li a {
  font-size: 1.4em;
}

.link--active {
  color: red;
}

.movie-list {
  list-style: none;
  color: black;
}

.bold{
  font-weight: bold;
}
.purchased{
  color: red;
}
.available{
  color: black;
}